.idea/
.venv/
venv/
env/
*.env
__pycache__/
*.pyc
*.py[cod]
*$py.class
main/__pycache__
backup.sql
backup_sqlight.sql
data.json
db.json
db.sqlite3
*.sql
*.dump
__init__.py
*.log
*.pot
*.pyo
*.db
local_settings.py
docker-compose.override.yml
volumes/
db_data/

