{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Classes{% endblock %}
{% block content %}
    <!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg spad" data-setbg="{% static 'main/img/about-bread.jpg' %}"
         xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>CLASSES</h2>
                        <div class="breadcrumb-controls">
                            <a href="#"><i class="fa fa-home"></i> Home</a>
                            <span>Classes</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb End -->


    <!-- Classes Section Begin -->
    <section class="classes-section schedule-page">
        <div class="class-title">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="section-title">
                            <br />
                            <h2>Our Classes</h2>
                            <p>Our experts can help you discover new training techniques and exercises
                                <br />that offer a dynamic and efficient full-body workout.</p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                {% for course in courses %}
                <div class="col-lg-4 col-md-6 grid-item">
                        <div class="blog-item instagram-item">
                        <h5>{{ course.name }}</h5>
                            <br>
                        <h5>{{ course.description }}</h5>
                            <br />
                        <h5>{{ course.trainer }}</h5>
                            <br>
                            <a href="{% url 'register_form' course.id %}" class="primary-btn class-btn">Register</a>

                        </div>
                     <br>
                </div>
                {% endfor %}
                </div>
<!--                <div class="col-lg-3">-->
<!--                    <div class="classes-item set-bg" data-setbg="{% static 'main/img/classes/class-2.jpg' %}">-->
<!--                        <h4>BootCamp</h4>-->
<!--                        <p>The oil, also called linseed oil, has many industrial uses – it is an important ingredient-->
<!--                        </p>-->
<!--                        <a href="#" class="primary-btn class-btn">Read More</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-3">-->
<!--                    <div class="classes-item set-bg" data-setbg="{% static 'main/img/classes/class-3.jpg' %}">-->
<!--                        <h4>Energy Blast</h4>-->
<!--                        <p>It is a very common occurrence like cold or fever depending upon your lifestyle. </p>-->
<!--                        <a href="#" class="primary-btn class-btn">Read More</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-3">-->
<!--                    <div class="classes-item set-bg" data-setbg="{% static 'main/img/classes/class-4.jpg' %}">-->
<!--                        <h4>CLASSIC BODY BALANCE</h4>-->
<!--                        <p>The procedure is usually a preferred alternative to photorefractive keratectomy,</p>-->
<!--                        <a href="#" class="primary-btn class-btn">Read More</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </section>
    <!-- Classes Section End -->

    <!-- Choseus Section Begin -->
    <section class="chooseus-section schedule-page spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Why People Choose Us</h2>
                        <p>Our sport experts and latest sports equipment are the winning combination.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="choose-item">
                        <img src="{% static 'main/img/icons/chose-icon-1.png' %}" alt="">
                        <h5>Support 24/24</h5>
                        <p>One of the best ways to make a great vacation quickly horrible is to choose the wrong
                            accommodations for your trip. </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="choose-item">
                        <img src="{% static 'main/img/icons/chose-icon-2.png' %}" alt="">
                        <h5>Our trainer</h5>
                        <p>If you are an infrequent traveler you may need some tips to keep the wife happy while you are
                            jet setting around the globe.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="choose-item">
                        <img src="{% static 'main/img/icons/chose-icon-3.png' %}" alt="">
                        <h5>Personalized sessions</h5>
                        <p>To succeed at any endeavor, you must stay the course…no matter what the cost! Here are some
                            surefire tips to help you on your journey.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="choose-item">
                        <img src="{% static 'main/img/icons/chose-icon-4.png' %}" alt="">
                        <h5>Our equipment</h5>
                        <p>Rugby and Stratford-upon-Avon. Additionally, there are many things to see and do in and
                            around Coventry itself.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="choose-item">
                        <img src="{% static 'main/img/icons/chose-icon-5.png' %}" alt="">
                        <h5>Classes daily</h5>
                        <p>We would just not have the will in us to go about our daily lives. Its motivation that helps
                            us get through the most mundane.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="choose-item">
                        <img src="{% static 'main/img/icons/chose-icon-6.png' %}" alt="">
                        <h5>Focus on your health</h5>
                        <p>But there is only so far we can go within the constraints of a family budget in building the
                            perfect telescopic operation.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Choseus Section End -->

    <!-- Cta Section Begin -->
    <section class="cta-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-text">
                        <h3>GeT Started Today</h3>
                        <p>New student special! $30 unlimited Gym for the first week anh 50% of our member!</p>
                    </div>
                    <a href="#" class="primary-btn cta-btn">book now</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Cta Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-logo-item">
                        <div class="f-logo">
                            <a href="#"><img src="{% static 'main/img/logo.png' %}" alt=""></a>
                        </div>
                        <p>Despite growth of the Internet over the past seven years, the use of toll-free phone numbers
                            in television advertising continues.</p>
                        <div class="social-links">
                            <h6>Follow us</h6>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="footer-widget">
                        <h5>Our Blog</h5>
                        <div class="footer-blog">
                            <a href="#" class="fb-item">
                                <h6>Most people who work</h6>
                                <span class="blog-time"><i class="fa fa-clock-o"></i> Jan 02, 2019</span>
                            </a>
                            <a href="#" class="fb-item">
                                <h6>Freelance Design Tricks How </h6>
                                <span class="blog-time"><i class="fa fa-clock-o"></i> Jan 02, 2019</span>
                            </a>
                            <a href="#" class="fb-item">
                                <h6>have a computer at home have had </h6>
                                <span class="blog-time"><i class="fa fa-clock-o"></i> Jan 02, 2019</span>
                            </a>
                        </div>
                    </div>
                </div>
                {% endblock %}
